<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/assets/icons8-movie-64.png" alt=""> Moviezland
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/Trending">Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" routerLink="/TvSeries">TV Series</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!--Header-->

    <header class="mb-5">
        <div id="img1" class="background-header-image-1 d-flex justify-content-center align-items-center">
            <h1 class="text-white">TV SHOWS</h1>
        </div>
    </header>

    <!--TV Series Content-->
    <div class="container">
        <div class="d-flex flex-wrap justify-content-around">
            <div *ngFor="let Tv of tv.results" class="card  my-2 text-center" style="width: 20rem;">
                <span class="icon"><i class="bi bi-play-circle-fill fs-1 text-danger"></i></span>
                <a href="/TV/{{Tv.id}}">
                    <img [src]="prefix + Tv.poster_path" class="card-img-top " alt="...">
                </a>
                <div class="card-body">
                    <h6 class="card-title">{{Tv.original_title}}</h6>
                </div>
            </div>
        </div>
    </div>
</body>

</html>